<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
        <!-- ======================= links to bootstrap files =================== -->
    <link rel="stylesheet" href="../static/bootstrap4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap4.1.3/css/font-awesome.css">
    <link rel="stylesheet" href="../static/bootstrap4.1.3/css/animate.css">
    <!-- ====================== links to javascript files =================== -->
    <script src ="../static/bootstrap4.1.3/js/jquery.js"></script>
    <script src ="../static/bootstrap4.1.3/js/bootstrap.js"></script>
    <script src ="../static/bootstrap4.1.3/js/parallax.min.js"></script>
    <script src ="../static/bootstrap4.1.3/js/wow.min.js"></script>
    <script src ="../static/bootstrap4.1.3/js/jquery.easing.min.js"></script>
    <script src ="../static/bootstrap4.1.3/js/fliplightbox.min.js"></script>
    <script src ="../static/bootstrap4.1.3/js/functions.js"></script>

    <style>
        body{
        background-image: url(../static/register_bg.jpg);
        background-attachment: fixed;
        background-size:100% auto;
        background-repeat: no-repeat
        }
        #formDesign{
            color:white;
            padding-bottom:10%;
            padding-left:5%;
            padding-right:5%;
            background-color: rgba(0, 0, 0, .4);
        }

        #formheading{
            padding:5%;
            text-align: center;
            font-family: "Baskerville Old Face";
        }
        #bottom{
            padding-left: 10%;
            padding-right: 10%;
            padding-top:3%;
            padding-bottom:3%;
            background-color: #1b1e21;
            text-align: left;
            float: bottom;
            font-size: small;
        }
        #bottomlist{
            list-style-position: inside;
            margin: 0;
            padding: 0;
            font-size: medium;
            line-height: 0.5em;
        }
    </style>
</head>
<body >

    <nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
        <a href="/homepage" class="navbar-brand">SMOKE HOUSE</a>
        <!-- button to trigger links for small screens-->
        <!-- this class(navbar-toggler) makes sure that the button is not visible when the browser window is at its largest. When the screen ()view port-->
        <!--is smaller like a phone the link will disappear and the menu button will appear on the upper right corner-->
        <button class="navbar-toggler" data-target="#mynav" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynav">
            <!-- mr-auto stand for margin right auto. self explanatory -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/homepage#meals" class="nav-link">Meals</a>
                </li>
                <li class="nav-item">
                    <a href="/homepage#drinks" class="nav-link">Drinks</a>
                </li>
                <li class="nav-item">
                    <a href="/homepage#dessert" class="nav-link">Dessert</a>
                </li>
                <li class="nav-item">
                    <a href="/homepage#contactus" class="nav-link">Contact us</a>
                </li>
            </ul>
            <nav class="navbar navbar-light bg-white">
                <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search...">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </nav>

    <!--  ======================================= MAIN SECTION =================================================  -->
    <!--  ======================================================================================================  -->
    <!--  =========================================== FORM =====================================================  -->
    <section id="mainsection" style="padding:10%;padding-top:3%">
        <section class="row">

            <div class="col-md-3">
            </div>

            <div class="col-md-6" id="formDesign">
                <h3 id="formheading">Login below</h3>
                <h3 class="text-success">{{ msg }}</h3>
                <form action="/login" method="post">
                    Username:
                    <br>
                    <input type="text" name="username" placeholder="Enter username..." class="form-control">
                    <br>
                    Password:
                    <br>
                    <input type="password" name="password" placeholder="Enter password..." class="form-control">
                    <br>
                    <input type="submit" name="submit" value="Submit" class="btn btn-success">
                </form>
                <a href="/register">Not Registered? Join here.</a>
            </div>

            <div class="col-md-3">
            </div>

        </section>
    </section>


<!-- ============================= BOTTOM OF PAGE(FOOTER SECTION)================================ -->
    <section class="row" id="bottom">
            <div class="col-md-4">
                <h5 class="text-light">About Us</h5>
                <hr color="#659df7" width="20%" align="left" >
                <p class="text-secondary">Empowering the youth, electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                <br>
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </div>

            <div class="col-md-4">
                <h5 class="text-light">Latest news</h5>
                <hr color="#659df7" width="20%" align="left" >
                <ul id="bottomlist" class="text-secondary" type="circle">
                    <li>Trend dont matter but techniques does
                        <hr color="darkslategrey" >
                    </li>
                    <li>Trend dont matter but techniques does
                    <hr color="darkslategrey" >
                    </li>
                    <li>Trend dont matter but techniques does
                    <hr color="darkslategrey" >
                    </li>
                    <li>Trend dont matter but techniques does
                    <hr color="darkslategrey" >
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 class="text-light">Follow Us On Instagram</h5>
                <hr color="#659df7" width="20%" align="left" >
                <img src="../static/image/daisy.jpg" alt="image.jpg" class="img-fluid">
            </div>
    </section>


    <footer>

    </footer>



</body>
</html>